<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%green(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %cyan(%logger{36})[%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/orient-test.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    <logger name="org.springframework" level="DEBUG" />
    <logger name="org.springframework.data.orientdb" level="INFO" />
    <logger name="org.springframework.data.orient.commons.core.OrientTransactionManager" level="INFO" />
    <logger name="org.springframework.data.orient.commons.core.AbstractOrientDatabaseFactory" level="INFO" />
    <logger name="org.springframework.data.orient.object.OrientObjectDatabaseFactory" level="INFO" />
    -->
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="FILE" />-->
    </root>
</configuration>
